default_stages:
  # Prevent that hooks run twice, triggered by both
  # the Git commit-msg and the pre-commit hook.
  - commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.11.0
    hooks:
      - id: commitlint
        stages:
          - commit-msg
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^LICENSE\.md$
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [--ignore-words=.codespellignore]
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or:
          - markdown
          - yaml
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: cargo-check
        args: [--locked, --workspace, --features, cubeb, --all-targets]
      - id: fmt
        args: [--all, --]
      - id: clippy
        args:
          [
            --locked,
            --workspace,
            --features,
            cubeb,
            --all-targets,
            --,
            -D,
            warnings,
          ]
  - repo: local
    hooks:
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS=-Dwarnings cargo
        language: system
        pass_filenames: false
        args:
          [
            doc,
            --locked,
            --workspace,
            --features,
            cubeb,
            --no-deps,
            --document-private-items,
          ]
