[package]
name = "web-audio-api"
version = "0.5.0"
authors = ["Otto <otto@ot-to.nl>"]
edition = "2018"
description = "A Rust implementation of the Web Audio API, for use in non-browser contexts"
readme = "README.md"
repository = "https://github.com/orottier/web-audio-api-rs"
keywords = ["web-audio-api", "audio", "sound"]
license = "MIT"
categories = ["multimedia::audio"]

[dependencies]
cpal = "0.13.1"
lewton = "0.10.2"
vecmath = "1.0.0"
arrayvec = "0.5.2"
hound = "3.4.0"
log = "0.4.14"

[dev-dependencies]
rand = "0.8.*"
alloc_counter = "0.0.4"
env_logger = "0.8.3"
